@mixin text-clamp($max-lines) {
	display: -webkit-box;
	-webkit-line-clamp: $max-lines;
	line-clamp: $max-lines;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin primary-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding: 13px;
	border-radius: 20px;
	border-color: transparent;
	background-color: $brand-color;
	color: #fff;
	font-weight: 300;
	line-height: 23px;
	transition: 0.25s all;
	&:hover {
		background-color: #6c7dd8;
	}
	&:focus {
		border: 2px solid $text-color;
	}
}

@mixin image-card($url) {
	background: url($url) no-repeat $text-color;
	&:hover {
		box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.4);
	}
	.card {
		&__category {
			background-color: rgba(255, 255, 255, 0.2);
			&:hover {
				background-color: rgba(255, 255, 255, 0.4);
			}
			&:active {
				background-color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
